textarea.fill-form{
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

.budgetform{
	padding-bottom:20px;
	padding-left:10px;
}

select.budgetformselect{
    width: 140px !important;
}

input.budgetform{
    width: 150px !important;
}

label.budgetform{
    width: 180px !important;
    text-align: right;    
}

label.budgetform-small{
    width: 100px !important;
    text-align: right;    
}
