{% extends "home/base/_content.html" %}
{% block forejs %}
{{ block.super }}
{% endblock %}
{% block before_home_content%}
<div class="homepage-picture">
  {% include "home/widgets/home_pictures.html" %}
</div>
{% endblock %}
{% block home_content %}
<div class="row news_frame">
  <div class="col-lg-6">
    {% include "home/widgets/announcement.html" %}
  </div>
  <div class="col-lg-6">
    {% include "home/widgets/filedownload.html" %}
  </div>
</div>
{% include "base/checkbrowser.html" %}
{% endblock %}
