<div class="well form">
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" eid = {{EXCELTYPE_DICT.INFO_COLLECTION}} name="btn_export">教育部项目信息采集填报表</button>
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block" eid = {{EXCELTYPE_DICT.INFO_BASESUMMARY_PREVIEW}}  name="btn_export">基本科研业务经费科研专题项目结题验收评审结果汇总表</button>
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block" eid = {{EXCELTYPE_DICT.INFO_HUMANITY_PREVIEW}}  name="btn_export">人文社科科研专题项目申请评审结果汇总表</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" eid = {{EXCELTYPE_DICT.INFO_IMPORTANTPROJECT_PREVIEW}}  name="btn_export">重大项目培育科研专题项目申请评审结果汇总表</button>
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block" eid = {{EXCELTYPE_DICT.INFO_LABORATORY_PREVIEW}}  name="btn_export">重大实验室科研专题项目申请评审结果汇总表</button>
        </div>
    </div>
</div>
{% include "widgets/infoexport/infoexport_alert.html"%}
<script type="text/javascript" src="{{STATIC_URL}}js/infoexport/info_export.js"></script>
