<table class="table" id="table_expert_list">
    <thead>
        <tr>
						<th><label class="checkbox">
                         <input type="checkbox" name="checkbox_all_expert">
                         </label></th>
            <th>专家姓名</th>
            <th>所属学院</th>
            <th>已分配数量</th>
        </tr>
    </thead>
    <tbody>
        {% for expert in item3_list %}
            <tr>
		<td><label class="checkbox">
                         <input type="checkbox" name="checkbox_expert">
                         </label>
                      </td>
            <td>{{ expert }}</td>
            <td>{{ expert.college }}</td>
            <td>{{ expert.alloc_num }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="alloc_expert_paginator">
	{% include "widgets/paginator3.html" %}
</div>
