<table class="table table-condensed" id="alloced_subject_table">
  <thead>
    <tr>
      <th><label class="checkbox">
          <input type="checkbox" class="select_all" arg="checkbox_alloc_project">
        </label>
      </th>
      <th>项目编号</th>
      <th>项目名称</th>
      <th>申请人</th>
      <th>所属学院</th>
      <th>所属分类</th>
      <th>题目状态</th>
      <th>审阅状态</th>
      <!--th>操作</th-->
    </tr>
  </thead>
  <tbody id="alloced_subject_table_body">
    {% for project in item2_list %}
    <tr>
      <td><label class="checkbox">
          <input type="checkbox" name="checkbox_alloc_project" value="{{ project.project_id }}">
        </label>
      </td>
      <td>{{ project.project_code }}</td>
      <td>{{ project.title }}</td>
      <td>{{ project.teacher.teacherinfosetting.name}}</td>
      <td>{{ project.teacher.college }}</td>
      <td>{{ project.project_special }}</td>
      <td>{{ project.project_status }}</td>
      <td><a data-toggle="modal" href="#query_modal" class="query_info" arg="{{ project.project_id }}">{{ project.review_status }}</a></td>
      <!--td><a href="javascript:void(0)" arg="{{ project.project_id }}" class="append_alloc">追加</a></td-->
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="alloc_paginator">
  {% include "widgets/paginator2.html" %}
</div>
