<br><br>
<fieldset id= "project_control_field">
  <legend>项目控制管理</legend>
  <div class="alert alert-success" style="display:none" id="expert_review_manage_success" >
      <a class="close" id="alert_close1">×</a>
      项目控制管理修改成功
    </div>
    <div class="alert alert-danger" style="display:none" id="expert_review_manage_fail" >
      <a class="close" id="alert_close1">×</a>
      项目控制管理修改失败
    </div>
  {%for type in item.control_types%}
  <input type="button" id={{type.0}} name={{type.1}}  class="btn {%if type.2 %}btn-warning{%else%}btn-primary{%endif%}" value="{%if type.2%}关闭{{type.1}}{%else%}打开{{type.1}}{%endif%}">
  <span id="{{type.0}}_span" class="label {%if type.2 %}label-success{%else%}label-danger{%endif%}">{%if type.2%}{{type.1}}为打开状态{%else%}{{type.1}}为关闭状态{%endif%}</span>
      <br> <br>
  {%endfor%}
</fieldset>

<fieldset>
  <legend>导出项目信息统计表</legend>
  <form class="form-inline" role="form">
    <div class="form-group">
    {{schedule_form.application_year}}
    </div>
    <div class="form-group">
    <button type="button" class="btn btn-primary" eid={{alloc_excel}} name="btn_export">导出专家初审统计表</button>
    </div>
  </form>
  <br>
  <form class="form-inline" role="form">
    <div class="form-group">
    {{schedule_form.approval_year}}
    </div>
    <div class="form-group">
    <button type="button" class="btn btn-primary" eid={{final_alloc_excel}} name="btn_export">导出专家终审统计表</button>
    </div>
  </form>
  {% include "widgets/infoexport/infoexport_alert.html"%}
</fieldset>

<fieldset>
  <legend>专题项目配置选项</legend>

  <form id="expert_review_form" class= "form-inline" role="form" method="POST" action="." >
    {% csrf_token%}
    <div class="alert alert-success" style="display:none" id="expert_review_success" >
      <a class="close" id="alert_close1">×</a>
      专家评分表修改成功
    </div>
    <div class="alert alert-danger" style="display:none" id="expert_review_fail" >
      <a class="close" id="alert_close1">×</a>
      专家评分表修失败
    </div>
    <div class="alert alert-danger" style="display:none" id="expert_review_fail_1" >
      <a class="close" id="alert_close1">×</a>
      专家评分表修失败,已有项目关联无法修改
    </div>
    <div class="form-group">
      <span >专家评分表</span> {{expert_review_form.expert_review}} 
    </div>
  </form>

<br/>
  <form id="expert_final_review_form" class= "form-inline" role="form" method="POST" action="." >
    {% csrf_token%}
    <div class="alert alert-success" style="display:none" id="expert_final_review_success" >
      <a class="close" id="alert_close1">×</a>
      专家评分终审表修改成功
    </div>
    <div class="alert alert-danger" style="display:none" id="expert_final_review_fail" >
      <a class="close" id="alert_close1">×</a>
      专家评分终审表修失败
    </div>
    <div class="alert alert-danger" style="display:none" id="expert_final_review_fail_1" >
      <a class="close" id="alert_close1">×</a>
      专家评分终审表修失败,已有项目关联无法修改
    </div>
    <div class="form-group">
      <span >专家评分终审表</span> {{expert_final_review_form.expert_final_review}} 
    </div>
  </form>








  <br/>
  <input type="button" id="review" name="专家评审流程"  class="btn {%if item.review_status %}btn-warning{%else%}btn-primary{%endif%}" value="{%if item.review_status%}关闭{%else%}打开{%endif%}专家评审流程">
  <span id="review_span" class="label {%if item.review_status%}label-success{%else%}label-danger{%endif%}">专家评审流程为{%if item.review_status%}打开{%else%}关闭{%endif%}状态</span>
</fieldset>
