<fieldset>
    <legend>项目结题管理</legend>



    {% if 1 %}

      
      <span class="help-block">请先选择结题项目年份（可以多选）</span>

      {% for year in item.year_list %}
        <label class="checkbox">
          <input type="checkbox" value="{{year}}" name="check_box_list">
          {{year}}  
          (已打开结题,已关闭申请)
        </label>
      {% endfor%}
      <br> 
      <input type="button" id="finish_button"  onclick="finish_control()" class="btn btn-primary" value="打开所选年份申请">

      <input type="button" id="finish_button"  onclick="finish_control()" class="btn btn-warning" value="关闭所选年份申请">


      <br> <br> 


      <input type="button" id="finish_button"  onclick="finish_control()" class="btn btn-primary" value="打开所选年份结题">

      <input type="button" id="finish_button"  onclick="finish_control()" class="btn btn-warning" value="关闭所选年份结题">

    
    {% else %}
      目前没有未结题项目或未到结题阶段
    {% endif %}
  </fieldset>


  <fieldset>
    <legend>项目自动编号</legend>
    <div class="alert alert-success" style="display:none" id="success_bar_2">
        <button type="button" class="close" data-dismiss="alert">x</button>
        编号成功！
    </div>

  </fieldset>
    <input type="button" class="btn btn-warning" value="自动编号" onclick="auto_ranking();">
  </fieldset>