{% extends "registration/widgets/baseback.html" %}

{%block form-content%}

<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >

<div class="container form-container">
  {% if account %}

  <h3>恭喜您成功激活账户</h3>

  <h3><a href="/accounts/adminlogin">管理员</a></h3>
  <h3><a href="/accounts/collegelogin">学院秘书</a></h3>
  <h3><a href="/accounts/expertlogin">专家</a></h3>
  <h3><a href="/accounts/teacherlogin">教师</a></h3

  {% else %}

  <h3>很抱歉！账户激活失败</h3>

  {% endif %}

</div>
{% endblock %}
