{% extends "teacher/base/_content.html" %}

{%block inner_content%}
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>项目编号</th>
        <th>项目名称</th>          
        <th>项目状态</th>
        <th>科技活动类型</th>                
        <th>专题类型</th>
        <th>立项年度</th>
        <th>详&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp情</th>
        <th>审核意见</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >51012014666666</td>
        <td >创新模式下的大数据挖掘</td>
        <td >在研</td>
        <td >基础研究</td>
        <td >文科</td>
        <td >2014</td>
        <td > 
          <a href="/teacher/final" class="btn btn-primary btn-sm">结题报告</a>
          <a href="/teacher/file_upload" class="btn btn-primary btn-sm">文件上传</a>
          <a href="/teacher/financial" class="btn btn-primary btn-sm">经费管理</a>
        </td>
        <td style="color:red">院级不通过:项目立项依据有问题</td>
      </tr>
      <tr>
        <td>51012019888888</td>
        <td>大数据挖掘的创新思维</td>
        <td>在研</td>
        <td>基础研究</td>
        <td>文科</td>
        <td>2014</td>
        <td>
          <a href="/teacher/final" class="btn btn-primary btn-sm">结题报告</a>
          <a href="/teacher/file_upload" class="btn btn-primary btn-sm">文件上传</a>
          <a href="/teacher/financial" class="btn btn-primary btn-sm">经费管理</a>
        </td>
        <td style="color:red">校级不通过:项目立项依据有问题</td>
      </tr>
    </tbody>
  </table>
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
$(function () {
  $('#myTab a:first').tab('show');
})
</script>
</div>












{% endblock %}
