{% extends "teacher/base/_content.html" %}

{%block inner_content%}
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>申请代码</th>
        <th>项目名称</th>
        <th>专题类型</th>
        <th>项目类型</th>
        <th>详&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp情</th>
        <th>审核意见</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >51012014666666</td>
        <td >testForYou</td>
        <td >文科</td>
        <td >huhu</td>
        <td >
          <a href="/teacher/application" class="btn btn-primary btn-sm">申请表</a>
          <a href="/teacher/file_upload" class="btn btn-primary btn-sm">文件上传</a>
        </td>
        <td style="color:red">校级不通过:项目立项依据有问题</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
