{% extends "teacher/base/_content.html" %}

{%block inner_content%}
<div>
    <button id="button_to_create" data-toggle="modal" class="btn btn-primary" href="#create_project_modal">项目申请</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>项目名称</th>
                <th>项目进度情况</th>
                <th>项目下一步工作</th>
                <th>专题类型</th>
                <th>申请年度</th>
                <th>详&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp情</th>
                <th>审核意见</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {%for p in project_list %}
            <tr pid={{p.project_id}}>
                <td data-toggle="tooltip" data-placement="top" title="{{p.title}}">{{p.title|truncatechars:10}}</td>
                <td >{{p.project_status}}</td>
                <td >{{p.get_next_status}}</td>
                {%if p.project_status > 2 or p.specialform == None%}
                <td >{{p.project_special}}</td>
                {%else%}
                <td>{{p.specialform.project_special}}</td>
                {%endif%}
                <td >{{p.application_year}}</td>
                <td >
                    <a href="/teacher/application/{{p.project_id}}" class="btn btn-primary btn-sm">申请表</a>
                    <a href="/teacher/file_upload/{{p.project_id}}" class="btn btn-primary btn-sm">文件上传</a>
                </td>
                <td style="color:red"><span data-toggle="tooltip" data-placement="top" title={{p.comment}}>{{p.comment|truncatechars:15}}</span></td>
                <td>
                    <button class="btn btn-danger btn-sm" id="pro_delete_btn" data-toggle="modal" data-target="#pro_delete">删除</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div> 
<div class="modal  fade"  id="pro_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h2 class="text-error">确定删除此项目吗？</h2>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" >取消</a>
                <a class="btn btn-primary" data-dismiss="modal" id="delete_pro">确定</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="create_project_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">新建项目信息</h3>
            </div>
            <div class="modal-body">
                {% if not projectCreationForbidCheck %}
                <form id="create-form" class="well form" method="POST" action="/teacher/create">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                {{ form.special }}
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <p>您本年度已有申请或在研的项目存在，无法新建项目！</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                {% if not projectCreationForbidCheck %}
                <button type="submit" id="button_create_project" class="btn btn-primary">新建项目</button>
                {% endif %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript" src="{{STATIC_URL}}js/teacher/create_project.js"></script>
{% endblock %}
