{% extends "teacher/base/_content.html" %}

{%block inner_content%}
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>申请代码</th>
        <th>项目名称</th>
        <th>专题类型</th>
        <th>项目类型</th>
        <th>详&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp情</th>
        <th>审核意见</th>
      </tr>
    </thead>
    <tbody>

      {%for p in project_list %}
      <tr>
        <td >{{p.project_application_code}}</td>
        <td >{{p.title}}</td>
        <td >{{p.project_special}}</td>
        <td >{{p.project_tpye}}</td>
        <td >
          <a href="/teacher/application/{{p.project_id}}" class="btn btn-primary btn-sm">申请表</a>
          <a href="/teacher/file_upload/{{p.project_id}}" class="btn btn-primary btn-sm">文件上传</a>
        </td>
        <td style="color:red">{{p.comment}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
