{% extends "expert/base/_content.html" %}
{%block inner_content%}
<div class="container">
  <div class="page-header">
    <h3>
      本年度评审列表
    </h3> 
  </div><!--end page header-->
  <div class="alert alert-success">
	  <a class="close" data-dismiss="alert">×</a>
	  <strong>尊敬的评委老师，请根据评审阶段进入相关管理界面审阅作品，谢谢。</strong>
	</div>
  <div id="project_filter_form" class="form-inline" role="form">
    {{form.special}}
    {{form.college}}
    <button class="btn btn-primary" id="project_filter_button">筛选项目</button>
  </div>
  <br/>
  <div class="tab-content">
  <div class="tab-pane fade active in" id="review-page">
    <ul class="nav nav-pills">
      <li {% if is_first_round == "1" %}class="active"{% endif %} args="first_round">
        <a href="#first-round-section" data-toggle="tab">初审管理界面</a>
      </li>
      <li {% if is_first_round == "0" %}class="active"{% endif %} args="second_round">
        <a href="#second-round-section" data-toggle="tab">终审管理界面</a>
      </li>

    </ul><!--end ul title-->

    <div class="tab-content">
      <div class="tab-pane fade {% if is_first_round == "1"%}active in{% endif %}" id="first-round-section">
        {% include "expert/widgets/first_round_project_table.html" %}
      </div><!--end content section-->

      <div class="tab-pane fade {% if is_first_round == "0"%}active in{% endif %}" id="second-round-section">
       	{% include "expert/widgets/second_round_project_table.html" %} 
  		</div>

    </div><!--end tab content-->
  </div><!--end tab pane-->
</div><!--end tab content-->

</div><!--end current list content-->
<script type="text/javascript" src="{{STATIC_URL}}js/expert/home.js"></script>
{% endblock %}
