<div class="clearfix">
  {% if project_list %}
    {% for project in project_list %}
      <div class="box photo col3">
        <a href="{% url home.views.showProject project.project_id %}" title="{{ project.title }}"><img src="{{ project.img }}"  /></a>
        <h4 class="title">{{ project.title|truncatechars:14 }}</h4>
        <hr/>
        <p><strong>项目负责人:</strong>&nbsp;&nbsp;{{ project.teacher }}</p>
        <p class="title">{{ project.teacher.college}}</p>
      </div>
    {% endfor %}
  {% endif %}
</div>
<!-- <div id="page-nav" style="display=none;"> -->
<div id="page-nav">
    <a class="search-news" href="?search_school={{ search_school }}&search_year={{ search_year }}&search_grade={{ search_grade }}&project_page={{ project_page.previous_page_number }}">上一页</a>
   <a class="search-news" href="?search_school={{ search_school }}&search_year={{ search_year }}&search_grade={{ search_grade }}&project_page={{ project_page.next_page_number }}">下一页</a>
</div>
