<table class="table table-hover">     
  <thead>
    <tr>
      <th>项目编号</th>
      <th>名称</th>
      <th>所属分类</th>
      <th>学院</th>
      <th>评审状态</th>
      <th>评分</th>
      <th>详情</th>
    </tr>
  </thead>
  <tbody>
    {% for item in item2_list %}
    <tr>
      <td>{{ item.project.project_code }}</td>
      <td>{{ item.project.title }}</td>
      <td>{{ item.project.project_special }}</td>
      <td>{{ item.project.teacher.college }}</td>
      <td>{% if item.score == 0 %}未审核{% else %}已审核{% endif %}</td>
      <td>{{ item.score }}</td>
      <td>
        <span><a href="/expert/final_review/?re_id={{ item.id }}" class='btn btn-primary review_btn'>审阅</a></span>
      </td>
    </tr>
		{% endfor %}
  </tbody>
</table>
<div id="second_round_paginator">
	{% include "widgets/paginator2.html" %}
</div>
