<form class="form-inline" action="." method="POST" id="search-tools-bar" >
  {% csrf_token %}
  <div class="form-group">
    {{schedule_form.conclude_year}}
  </div>
  <div class="form-group">
    {{schedule_form.special}}
  </div>
  <div class="form-group">
    {{schedule_form.college}}
  </div>
  <div class="form-group">
    {{schedule_form.other_search}}
  </div>
  <div class="form-group">
    <input id="search-news" class="search-news" type="submit" value="Go!" alt="Go." title="Go.">
  </div>
</form>
