<div class="report-content-container"> 
  <ul class="nav nav-pills">

    <li {% if not error %}class="active" {% endif %}><a href="#project_info_form" data-toggle="tab">项目信息</a></li>
      
    <li><a href="#project_member" data-toggle="tab">项目成员</a></li>
      
      
    <li><a href="#basis_content" data-toggle="tab">立项依据与研究内容</a></li>
      
    <li><a href="#base_condition" data-toggle="tab">研究基础与工作条件</a></li>
    
    {% if userauth.is_experter %}
    <li {% if error %}class="active" {% endif %}><a href="#score_board" data-toggle="tab">项目评价</a></li>     
    {% endif %}
  </ul>
  
  <div class="tab-content" pid="{{pid}}" user = 'user' >

    <div class="tab-pane fade {% if not error %} active in {% endif %}" id="project_info_form"> 
      {% include "widgets/project_infoform.html" %}
      {%include "widgets/save_button.html"%}


    </div>

    <div class="tab-pane fade" id="project_member">
      {%include "widgets/member_change.html"%}
      {%include "widgets/save_button.html"%}
    </div>


    <div class="tab-pane fade" id="basis_content">

      {% include "widgets/basis_content.html"%}
      {%include "widgets/save_button.html"%}

    </div>

    <div class="tab-pane fade" id="base_condition">
      {% include "widgets/base_condition.html"%} 
      {%include "widgets/save_button.html"%}

    </div>

    <div class="tab-pane fade {% if error %} active in {% endif %}" id="score_board">
      {% include "widgets/score_board.html" %}
    </div>
  </div>



</div>



<script type='text/javascript' src= "{{STATIC_URL}}js/common/application.js"> 
</script>
