<table class="table">
  <thead>
    <tr>
      <th></th>
      {% for field in form %}
      <th>{{ field.label_tag }}</th>
      {% endfor %}
      <th>总分</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>平均</td>
      {% for field in ave_score %}
      <td>{{ field|floatformat:"1" }}</td>
      {% endfor %}
    </tr>
    {% for item in scoreList %}
    <tr>
      <td>{{item.expert_name}}</td>
      {% for field in item %}
      <td>
        {{ field.value }}
      </td>
      {% endfor %}
      <td>{{item.total_score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
