<p> </p>


<div class="alert alert-danger" role="alert" id = "base_condition_form_error"
style= "display:none">
</div>

<form class="well" id = "base_condition_form" bid = "{{base_condition_id}}">
 
<fieldset>
    <legend>工作基础</legend>
    <div class="control-group form-inline ">
      {{base_condition_form.base}}      
    </div>    
</fieldset>

<fieldset>
    <legend>工作条件</legend>
    <div class="control-group form-inline ">
      {{base_condition_form.condition}}      
    </div>    
</fieldset>

<fieldset>
    <legend>申请人简介</legend>
    <div class="control-group form-inline ">
      {{base_condition_form.applicant}}      
    </div>    
</fieldset>


<fieldset>
    <legend>承担科研项目情况</legend>
    <div class="control-group form-inline ">
      {{base_condition_form.research}}      
    </div>    
</fieldset>


<fieldset>
    <legend>完成本专项项目情况</legend>
    <div class="control-group form-inline ">
      {{base_condition_form.progress}}      
    </div>    
</fieldset>
</form>