


<p> </p>

<div class="alert alert-danger" role="alert" id = "basis_content_form_error"
style= "display:none">
</div>

<form class="well" id = "basis_content_form" bid = "{{basis_content_id}}">
  <fieldset>
      <legend>项目摘要</legend>
      <div class="control-group form-inline ">
        {{basis_content_form.basis}}
      </div>
  </fieldset>

  <!-- <fieldset> -->
      <!-- <legend>项目的研究内容、研究目标,以及拟解决的关键科学问题</legend> -->
      <!-- <div class="control-group form-inline "> -->
        {#{{basis_content_form.content}} #}
      <!-- </div>     -->
  <!-- </fieldset> -->

  <!-- <fieldset> -->
      <!-- <legend>拟采取的研究方案及可行性分析</legend> -->
      <!-- <div class="control-group form-inline "> -->
        {#{{basis_content_form.plan}}#}
      <!-- </div>     -->
  <!-- </fieldset> -->


  <!-- <fieldset> -->
      <!-- <legend>本项目的特色与创新之处</legend> -->
      <!-- <div class="control-group form-inline "> -->
        {#{{basis_content_form.innovation}}#}
      <!-- </div>     -->
  <!-- </fieldset> -->


  <!-- <fieldset> -->
      <!-- <legend>年度研究计划及预期研究结果</legend> -->
      <!-- <div class="control-group form-inline "> -->
        {#{{basis_content_form.expect}}      #}
      <!-- </div>     -->
  <!-- </fieldset> -->
</form>
