<form class="well form" id="college_email_send_form" method="POST" action="">
    {% csrf_token %}
        <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{college_form.email}}
            </div> 
        </div>
				<div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{ college_form.password }}
            </div>
        </div>
        <!-- <div class="col-lg-2"> -->
        <!--     <div class="input-group"> -->
        <!--         <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span> -->
        <!--         {{ college_form.college }} -->
        <!--     </div> -->
        <!-- </div> -->
            <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                {{ college_form.person_firstname }}
            </div>
        </div>
    <span class=" pull-right"><input type="button" class="btn btn-primary" id="email_to_college" value="给学院管理员发送邮件"/></span>
    </div>
</form>
<table class="well table">
    <thead>
      <tr>
        <td><strong>已发送用户邮箱</strong></td>
        <td><strong>负责人</strong></td>
        <td><strong>用户状态</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>p@q.cn</td>
        <td>张龙</td>
        <td><button class="btn btn-success">已经激活</button></td>
      </tr>
      <tr>
        <td>c@d.com</td>
        <td>赵虎</td>
        <td><button class="btn btn-warning">已发送，尚未激活</button></td>
      </tr>
    </tbody>
</table>
