	<div class="page-header">
      <h3>项目摘要及关键词</h3>
    </div>
    <blockquote>
      <div class="control-group form-inline {% if final.achievement_summary.errors %}error{% endif %}">
        {{final.achievement_summary}} 
        {% if final.achievement_summary.errors %}
        <div class="row alert alert-error school-display">
          <button class="close" data-dismiss="alert">关闭</button>
          {{ final.achievement_summary.errors }}
        </div>
		{% endif %}  
		<textarea rows="8" name="achievement_summary" id="id_achievement_summary" placeholder="项目摘要限500字，关键词不超过5个" cols="100" class="fill-form"></textarea>
	  </div>
    </blockquote><!--end project content-->
    
    <br/>
	<div class="page-header">
      <h3>研究计划要点及执行情况概述</h3>
    </div>
    <blockquote>
      <div class="control-group form-inline {% if final.achievement_summary.errors %}error{% endif %}">
        {{final.achievement_summary}} 
        {% if final.achievement_summary.errors %}
        <div class="row alert alert-error school-display">
          <button class="close" data-dismiss="alert">关闭</button>
          {{ final.achievement_summary.errors }}
        </div>
		{% endif %}  
		<textarea rows="8" name="achievement_summary" id="id_achievement_summary" cols="100" class="fill-form"></textarea>
	  </div>
  	</blockquote><!--end project content-->
    <br/>
	<div class="page-header">
      <h3>研究工作主要进展和所取得的成果</h3>
    </div>
    <blockquote>
      <div class="control-group form-inline {% if final.achievement_summary.errors %}error{% endif %}">
        {{final.achievement_summary}} 
        {% if final.achievement_summary.errors %}
        <div class="row alert alert-error school-display">
          <button class="close" data-dismiss="alert">关闭</button>
          {{ final.achievement_summary.errors }}
        </div>
		{% endif %}  
		<textarea rows="8" name="achievement_summary" id="id_achievement_summary" cols="100" class="fill-form"></textarea>
	  </div>
 	</blockquote><!--end project content-->
    <br/>
	<div class="page-header">
      <h3>国内外学术合作交流与人才培养情况</h3>
    </div>
    <blockquote>
      <div class="control-group form-inline {% if final.achievement_summary.errors %}error{% endif %}">
        {{final.achievement_summary}} 
        {% if final.achievement_summary.errors %}
        <div class="row alert alert-error school-display">
          <button class="close" data-dismiss="alert">关闭</button>
          {{ final.achievement_summary.errors }}
        </div>
		{% endif %}  
		<textarea rows="8" name="achievement_summary" id="id_achievement_summary" placeholder="如无，可以不写"  cols="100" class="fill-form"></textarea>
	  </div>
  	</blockquote><!--end project content-->
    <br/>
	<div class="page-header">
      <h3>存在的问题、建议及其他需要说明的情况</h3>
    </div>
    <blockquote>
      <div class="control-group form-inline {% if final.achievement_summary.errors %}error{% endif %}">
        {{final.achievement_summary}} 
        {% if final.achievement_summary.errors %}
        <div class="row alert alert-error school-display">
          <button class="close" data-dismiss="alert">关闭</button>
          {{ final.achievement_summary.errors }}
        </div>
		{% endif %}  
		<textarea rows="8" name="achievement_summary" id="id_achievement_summary" cols="100" class="fill-form"></textarea>
	  </div>
  	</blockquote><!--end project content-->
	{% include "teacher/widgets/commit_button.html"%}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/content.css" >
