<div class="report-content-container">
	<ul class="nav nav-pills" id="myTab">
        <li class="active"><a href="#content" data-toggle="tab">报告正文</a></li>
        <li><a href="#auditing" data-toggle="tab">经费决算表</a></li>
        <li><a href="#achivement" data-toggle="tab" >研究成果目录</a></li>
        <li><a href="#datastatics" data-toggle="tab">数据统计表</a></li>
    </ul>
    <hr>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="content">
            {% include "widgets/finalreport/finalreport_content.html"%}
        </div>
		<div class="tab-pane fade" id="auditing">
		  	{% include "widgets/finalreport/financial_auditing.html"%}
		</div>
		<div class="tab-pane fade" id="achivement">
		  	{% include "widgets/finalreport/finalreport_achivement.html"%}		  
		</div>
		<div class="tab-pane fade" id="datastatics">
		  	{% include "widgets/finalreport/finalreport_datastatics.html"%}
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/content.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/member_change.css" >

