<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/member_change.css" >

<div class="modal  fade in" id="teacher_profile_info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form class="well form" id="member_change_form" method="POST" action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" name="teacher_name" placeholder="姓名">
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                                <input type="text" class="form-control" name="teacher_birth"  placeholder="出生年份">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                                <input type="text" class="form-control"  name="teacher_tel" placeholder="电话">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="text" class="form-control" name="teacher_email" placeholder="邮箱">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <select  class="form-control search-input" name="teacher_professional">
                                    <option selected="true" value="-1">职称</option>
                                    {% for item in professional %}
                                    <option value="{{ item.0}}">
                                    {{ item.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <select  class="form-control search-input" name="teacher_duty">
                                    <option selected="true" value="-1">行政职务</option>
                                    {%for item in executive%}
                                    <option value="{{item.0}}">
                                    {{item.1}}
                                    </option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_change">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_change">保存</button>
            </div>
        </div>
    </div>
</div>


<button class="btn btn-primary" id="add_new_member"  data-toggle="modal"
data-target="#teacher_profile_info" >添加新成员</button>

<table class="well table" id="member_change_table">
    <thead>
        <tr>
            <td><strong>姓名</strong></td>
            <td><strong>出生年份</strong></td>
            <td><strong>电话</strong></td>
            <td><strong>邮箱</strong></td>
            <td><strong>职称</strong></td>
            <td><strong>行政职务</strong></td>
            <td><strong>修改</strong></td>
            <td><strong>删除</strong></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type='text/javascript' src="{{STATIC_URL}}js/member_change.js"></script>
<!-- ajax_csrf-->
<!--<scriptype='text/javascript' src="{{STATIC_URL}}js/ajax_csrf.js"></script>-->
            <!-- dajax-->
            <!--<script type='text/javascript' src="{{STATIC_URL}}js/student/member_change.js"></script>-->
