

<table class="table table-bordered ">
	<thead>
		<tr>
			<th style="width:10%"> <input type="checkbox" class="checkbox_select_all" > </th>
			<th style="width:10%"> 教师   </th>			
			<th style="width:20%"> 所属学院 </th>
			<th style="width:60%">  管理项目   </th>
		</tr>

	<tbody>
		{%for it in item3_list %}
			<tr>
				<td> <input type="checkbox" name="teacher_list" value="{{it.0}}" 
					class="checkbox_selected">	</th>
				<td> {{it.1}}</th>
				<td> {{it.2}}</th>
				<td> {{it.3}}</th>

			</tr>
		{%endfor%}
	</tbody>

	</thead>
</table>

<div id = "teacher_alloc_paginator" class="user_alloc_paginator">
	{%include "widgets/paginator3.html"%}
</div>