
<div class="page-header">
    <h3>项目建设成效</h3>
</div>
<blockquote>
    <div class="control-group form-inline {% if final.achievement_summary.errors %}error{% endif %}">
        {{final.achievement_summary}} 
        {% if final.achievement_summary.errors %}
        <div class="row alert alert-error school-display">
            <button class="close" data-dismiss="alert">关闭</button>
            {{ final.achievement_summary.errors }}
        </div>
        {% endif %}  
        <textarea rows="8" name="achievement_summary" id="id_achievement_summary" placeholder="项目本年取得的成效。填写具体成果及取得的阶段性成效，文字不超过300字" cols="100" class="fill-form"></textarea>
    </div>
</blockquote><!--end project content-->
<br/>

        <button class="btn btn-primary  save_button">保存当前页面信息</button>

        <button class="btn btn-primary  submit_button" >提交</button>
      <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/content.css"> 
