
<ul class="nav nav-pills">
    <li class="active"><a href="#not_pass" data-toggle="tab">待处理<span class="badge">{{not_pass_apply_project_group.count}}</span></a>
    </li>
    <li><a href="#pass" data-toggle="tab">项目列表</a>
    </li>
</ul>

<div class="tab-content" userrole={{usercontext.role}} userstatus={{usercontext.status}}>
    <div class="tab-pane fade in active" id="not_pass">
        {%include "widgets/project_info_not_pass_table.html"%}  
    </div>
    <div class="tab fade" id="pass">
        {%include "widgets/project_info_pass_table.html"%}
    </div>
</div>


