<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/member_change.css" >

<p> </p>
<form class="well form" id="project_info_form" method="POST" action="">
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{project_info_form.project_name}}
            </div> 
        </div>
                <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{ project_info_form.science_type }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                {{ project_info_form.trade_code }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{ project_info_form.subject_name }}
            </div> 
        </div>
                <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                {{ project_info_form.subject_code }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                {{ project_info_form.start_time }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                {{ project_info_form.end_time }}
            </div> 
        </div>

        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
                {{ project_info_form.project_tpye }}
            </div>
        </div>



    </div>
</form>
