<h4>
    符合搜索条件的项目数量为{{pro_count}}.
</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>申请代码</th>
            <th>项目名称</th>          
            <th>项目申请人</th>          
            <th>学院</th>         
            <th>申请年度</th>          
            <th>提交日期</th>
            <th>专题类型</th>
            <th>项目状态</th>          
            <th>附件</th>
        </tr>
    </thead>

    <tbody>
        {% if item2_list %}
        {% for item in item2_list%}
        <tr iid={{item.project_id}}>
            <td>{{item.project_application_code}}</td>
            {% if usercontext.role == 'school' %}
            <td><a href="/school/application/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
            {% endif %}
            {% if usercontext.role == 'college' %}
            <td><a href="/college/application/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
            {% endif %}
            {% if usercontext.role == 'finance' %}
                {% if usercontext.status == 'budget' %}
            <td><a href="/finance/application/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
                {% else %}
            <td><a href="/finance/final/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
                {% endif %}

            {% endif %}

            <td>{{item.teacher.teacherinfosetting.name}}</td>
            <td>{{item.teacher.college}}</td> 
            <td> {{item.application_year}}</td>
            <td> {{item.submit_date|date:"Y-m-d"}}</td>
            <td><span data-toggle="tooltip" data-placement="top" title={{item.project_special}}>{{item.project_special|truncatechars:10}}</span></td>
            <td> {{item.project_status}}</td>
            <td>
                {% if item.file_application%}
                <span class="label label-success"><a href={{item.application_url}}> 申报书</a></span>
                {% else%}
                <a href="#"><span class="label label-danger"> 申报书 </span></a>
                {% endif%}
            </td>
        </tr>
        {% endfor%}
        {% endif%}
    </tbody>
</table>
<div id="pass_paginator">
    {%include "widgets/paginator2.html"%}
</div>
