   <!--Project Basic Infomation-->
    <!--Basic Infomation-->
    

    <div class="tab-pane " id="project_infoform">

            <br> </br>
            <div class="form-inline row" id="school_name_form">

                <div class="form-group  col-md-4">
                    <label class="control-label" for="name"><i class="glyphicon glyphicon-book"></i>参赛题目</label>
                    <input name="name" maxlength="200" type="text" placeholder="" id="special" class="form-control">
                </div>



                <div class="form-group .col-md-4 .col-md-offset-4">
                    <label class="control-label" for="name"><i class="glyphicon glyphicon-th-large"></i>团队成员</label>
                    <input name="name" maxlength="200" type="text" placeholder="" id="special" class="form-control">
                </div>
            </div>
          <br> </br>
           


    </div>



       
          