<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/common/member_change.css" >

<p> </p>

<div class="alert alert-danger" role="alert" id = "project_info_form_error"
style= "display:none">
</div>



<form class="well form" id = "project_info_form">

    <div class="row">
        <div class="col-lg-4 ">
            <div class="input-group"> 
                <span class="input-group-addon "   style='width:180px' >
                    项目名称:
                    <!-- <span class="glyphicon glyphicon-user"></span> -->
                </span>
                {{project_info_form.project_name}}
            </div> 
        </div>

        <div class="col-lg-4 ">
            <div class="input-group">
                <span class="input-group-addon"  style='width:180px'>
                    科技活动类型:
                    <!-- <span class="glyphicon glyphicon-user"></span> -->
                </span>
                {{ project_info_form.science_type }}

                {#{{ project_info_form.trade_code }}#}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon"  style='width:180px'>
                    国民行业代码（国标）:
                    <!-- <span class="glyphicon glyphicon-list-alt"></span> -->
                </span>
                {{ project_info_form.trade_code }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon"  style='width:180px'>
                    学科代码:
                    <!-- <span class="glyphicon glyphicon-list-alt"></span> -->
                </span>
                {{ project_info_form.subject }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd">

                <span class="input-group-addon"  style='width:180px'> 
                    <span>研究开始时间: </span>
                </span>
                {{ project_info_form.start_time }}
                <span class="input-group-addon">                  
                    <span class="glyphicon glyphicon-calendar"></span>    
                </span>
                
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="input-group date form-date" data-date="" data-date-format="yyyy-mm-dd">  

                <span class="input-group-addon"  style='width:180px'> 
                    <span>研究结束时间: </span>
                </span>
                {{ project_info_form.end_time }}
                <span class="input-group-addon">                    
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>                
            </div>
        </div>

    </div>




</form>






<link rel="stylesheet" href="{{STATIC_URL}}bootstrap-datepicker/css/bootstrap-datetimepicker.css" type="text/css" media="screen">


<script type='text/javascript' src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>








