
<div>
    <ul class="nav nav-pills">
        <li class="active"><a href="#not_pass" data-toggle="tab">未通过<span class="badge">{{not_pass_apply_project_group.count}}</span></a>
        </li>
        <li><a href="#pass" data-toggle="tab">已通过</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="not_pass">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>申请代码</th>
                        <th>项目名称</th>          
                        <th>项目申请人</th>          
                        <th>学院</th>         
                        <th>申请年度</th>          
                        <th>提交日期</th>
                        <th>专题类型</th>          
                        <th>附件</th>
                        <th>评审</th>
                    </tr>
                </thead>

                <tbody>
{% if not_pass_apply_project_group %}
                        {% for item in not_pass_apply_project_group%}
                    <tr>
                        <td>{{item.project_application_code}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.teacher}}</td>
                        <td>{{item.school}}</td>
                        <td> {{item.application_year}}</td>
                        <td>201s-7-1 </td>
                        <td></td>
                        <td>
                            {% if item.file_application%}
                            <a href="#"><span class="label label-success"> 申报书 </span></a>
                            {% else%}
                            <a href="#"><span class="label label-danger"> 申报书 </span></a>
                            {% endif%}
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#review_modal"  class="btn btn-primary btn-sm">评审 </button>
                        </td>
                    </tr>
                    {% endfor%}
                    {% endif%}
                </tbody>
            </table>
        </div>
        <div class="tab fade" id="pass">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>申请代码</th>
                        <th>项目名称</th>          
                        <th>项目申请人</th>          
                        <th>学院</th>         
                        <th>申请年度</th>          
                        <th>提交日期</th>
                        <th>专题类型</th>          
                        <th>附件</th>
                    </tr>
                </thead>

                <tbody>
{% if pass_apply_project_group %}
                        {% for item in pass_apply_project_group%}
                    <tr>
                        <td>{{item.project_application_code}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.teacher}}</td>
                        <td>{{item.school}}</td> 
                        <td> {{item.year}}</td>
                        <td>201s-7-1 </td>
                        <td></td>
                        <td>
                            <a href="#"><span class="label label-warning"> 申报书 </span></a>
                        </td>
                    </tr>
                    {% endfor%}
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade"  id="review_modal">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>评审</h3>
                </div>

                <div class="modal-body">
                    <form class="well">
                        <div class="form-group">
                            <label for="review_select">评审结果</label>
                            <select id="review_select" class="form-control" >
                                <option value="-1" selected="selected">请评审</option>
                                <option value="1">通过</option>
                                <option value="0">不通过</option>
                            </select>
                        </div>
                        <div class="form-group" id="not_pass_reason">
                            <label class="add-on" for="review_reason">不通过原因</label>
                            <textarea class="form-control" id="review_reason" rows="10" name="message_content"></textarea>
                        </div>
                    </form>
                </div>




                <div class="modal-footer">
                    <a class="btn" data-dismiss="modal">关闭</a>
                    <a class="btn btn-primary" data-dismiss="modal">确定</a>
                </div>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/project_info.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/common.js"></script>


<!-- ajax_csrf-->
<script type='text/javascript' src="{{STATIC_URL}}js/ajax_csrf.js"></script>
