<h4>
    符合搜索条件的项目数量为 {{pro_count}}。
</h4>
{% ifequal usercontext.role "finance"%}
<table class="table table-hover" >
  <thead>
    <tr>
      <th>财务流水号</th>
      {% ifequal usercontext.status "final"%}
        <th>财务帐号</th>
      {%endifequal%}
      <th>项目名称</th>
      <th>项目负责人</th>
      <th>学院</th>
      <th>立项年度</th>
      <th>提交日期</th>
      <th>专题类型</th>
      <th>项目状态</th>
      {% ifequal usercontext.status "budget"%}
      <th>立项金额</th>
      {%else%}
      <th>预算</th>
      <th>决算</th>
      <th>结余</th>
      {% endifequal%}
      <th>附件</th>
    </tr>
  </thead>

  <tbody>
    {% if item2_list%}
    {% for item in item2_list%}
    <tr iid={{item.project_id}} status={{item.project_status.status}}>
      {% ifequal usercontext.status "budget"%}
      <td>{{item.projectfundbudget.serial_number}}</td>
      {% else %}
      <td>{{item.projectfundsummary.serial_number}}</td>
      <td>{{item.finance_account}}
      {% endifequal%}
      <td><a href="/finance/final/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
      <td>{{item.teacher.teacherinfosetting.name}}</td>
      <td ><span data-toggle="tooltip" data-placement="top" title={{item.teacher.college}}>{{item.teacher.college|truncatechars:5}}</span></td>
      <td> {{item.approval_year}}</td>
      <td>{{item.submit_date|date:"Y-m-d"}}</td>
      <td><span data-toggle="tooltip" data-placement="top" title={{item.project_special}}>{{item.project_special|truncatechars:5}}</span></td>
      <td>{{item.project_status}}</td>
      {% ifequal usercontext.status "budget"%}
      <td>{{item.projectfundbudget.total_budget}} (元)</td>
      {% endifequal%}
      {% ifequal usercontext.status "final"%}
      <td>{{item.projectfundsummary.total_budget}} (元)</td>
      <td>{{item.projectfundsummary.total_expenditure}}</td>
      <td>{{item.remain}}</td>
      {% endifequal%}
      <td>
        {% ifequal usercontext.status 'budget'%}
           {%if item.file_task%}
            <span  class="label label-success"><a href={{item.task_url}}>任务书</a></span>
           {%else%}
           <span class="label label-danger">任务书</span>
           {%endif%}
        {%else%}
           {% if item.file_summary%}
            <span  class="label label-success"><a href={{item.summary_url}}>结题书</a></span>
           {%else%}
           <span class="label label-danger">结题书</span>
           {%endif%}
        {% endifequal%}
      </td>
    </tr>
    {% endfor%}
    {% endif%}
  </tbody>
</table>

{% else %}
<table class="table table-hover" >
  <thead>
    <tr>
      <th>项目编号</th>
      <th>项目名称</th>
      <th>项目负责人</th>
      <th>学院</th>
      <th>立项年度</th>
      <th>提交日期</th>
      <th>专题类型</th>
      <th>项目状态</th>
      <th>附件</th>
    </tr>
  </thead>
  <tbody>
    {% if item2_list%}
    {% for item in item2_list%}
    <tr iid="{{item.project_id}}" status="{{item.project_status.status}}">
      <td>{{item.project_code}}</td>
      {% if usercontext.role == 'school' %}
      <td><a href="/school/final/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
      {% endif %}
      {% if usercontext.role == 'college' %}
      <td><a href="/college/final/{{item.project_id}}?page={{page}}&page2={{page2}}" data-toggle="tooltip" data-placement="top" title={{item.title}}>{{item.title|truncatechars:10}}</a></td>
      {% endif %}
      {% if usercontext.role == 'adminStaff' %}
      <td><a href="/adminStaff/final/{{item.project_id}}?page={{page}}&page2={{page2}}">{{item.title}}</a></td>
      {% endif %}

      <td>{{item.teacher.teacherinfosetting.name}}</td>
      <td>{{item.teacher.college}}</td>
      <td> {{item.approval_year}}</td>
      <td>{{item.submit_date|date:"Y-m-d"}}</td>
      <td><span data-toggle="tooltip" data-placement="top" title={{item.project_special}}>{{item.project_special|truncatechars:10}}</span></td>
      <td>{{item.project_status}}</td>
      <td>
        {%if item.file_task%}
        <span  class="label label-success"><a href={{item.task_url}}>任务书</a></span>
        {%else%}
        <span class="label label-danger">任务书</span>
        {%endif%}
        {%if item.file_interimchecklist%}
        <span class="label label-success"><a  href={{item.progress_url}}>进展报告</a></span>
        {%else%}
        <span class="label label-danger">进展报告</span>
        {%endif%}
        {% if item.file_summary%}
        <span  class="label label-success"><a href={{item.summary_url}}>结题书</a></span>
        {%else%}
        <span class="label label-danger">结题书</span>
        {%endif%}
      </td>
      {% ifequal usercontext.role "adminStaff"%}
          <td>
            <button data-toggle="modal" data-target="#status_modal" class="btn btn-primary btn-sm" name="changestatus">修改状态</button>
          </td>
          <td>
            <button data-toggle="modal" data-target="#delete_modal" class="btn btn-danger btn-sm" name="delete">删除</button>
          </td>
      {% endifequal%}
     </tr>
    {% endfor%}
    {% endif%}
  </tbody>
</table>
<script>
$(function()
{
$('button[name=delete]').click(function()
{
var iid=$(this).parent().parent().attr('iid');
var title=$(this).parent().parent();
	$.get(
		'/adminStaff/delete_project',
		{
		iid:iid,
		},
		function(response)
		{
		 if(response=='Fail'||response=='Not exists')
			{
				alert('删除失败,原因:'+response);
			}
			else
			{
				alert('删除成功');
				window.location='/adminStaff';
			}

		}
	);
});
});
</script>
{% endifequal%}
<div id="pass_paginator">
  {% include "widgets/paginator2.html"%}
</div>
