<form method="post"  action="?pid={{pid}}&flag={{flag}}">
  {% csrf_token %}
  <div class="row">
    <div class="col-lg-7">
      <div id="id_alert">
      </div>
      <table class="table table-bordered table-striped" id="score-table">
        <colgroup>
          <col class="span1">
          <col class="span2">
        </colgroup>
        <thead>
          <tr>
            <th>打分点</th>
            <th>得分</th>
          </tr>
        </thead>
        <tbody>
          {% for field in score_form %}
						<tr>
							<td>{{ field.label_tag }}</td>
							<td>{{ field }}</td>
						</tr>
					{% endfor %}
        </tbody>
      </table>

    </div> 

  </div> <!-- row -->

  
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
</form>

