    <!--Project Basic Infomation-->
    <!--Basic Infomation-->
<div class="tab-pane" id="enterprise">

    <br> </br>
            <div class="form-inline row" id="">

                <div class="form-group  col-md-4">
                    <label class="control-label" for="name"><i class="glyphicon glyphicon-book"></i>姓名</label>
                    <input name="name" maxlength="200" type="text" placeholder="" id="special" class="form-control">
                </div>



                <div class="form-group .col-md-4 .col-md-offset-4">
                    <label class="control-label" for="name"><i class="glyphicon glyphicon-th-large"></i>联系电话</label>
                    <input name="name" maxlength="200" type="text" placeholder="" id="special" class="form-control">
                </div>
            </div>

            <br> </br>
            <div class="form-inline row" id="">

                <div class="form-group  col-md-4">
                    <label class="control-label" for="name"><i class="glyphicon glyphicon-th"></i>职称</label>
                    <input name="name" maxlength="200" type="text" placeholder="" id="special" class="form-control">
                </div>



                <div class="form-group .col-md-4 .col-md-offset-4">
                    <label class="control-label" for="name"><i class="glyphicon glyphicon-th-list"></i>工作单位</label>
                    <input name="name" maxlength="200" type="text" placeholder="" id="special" class="form-control">
                </div>
            </div>
    <br> </br>    


</div>