<form class="well form" method="POST" action="">
      {% csrf_token %}

        <div class="input-group col-xs-2">
            <span class="input-group-addon">姓名</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">性别</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">出生年月</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">支持对象</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">学位</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">职称</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">行政职务</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">所在研究基地类型</span>
            <input type="text" class="form-control"></input>
        </div>
        <div class="input-group col-xs-2">
            <span class="input-group-addon">所在研究基地名称</span>
            <input type="text" class="form-control"></input>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
 </form>
