<div class="modal fade"  id="teacher_notice">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>评审结果</h3>
      </div>
      <div class="modal-body">
        <form class="well">
          <div class="form-group">
            <h2>
              不通过
            </h2>
          </div>
          <div class="form-group">
            <label class="add-on" for="review_reason">评审意见</label>
            <textarea class="form-control" id="review_reason" rows="10" name="message_content" readonly>{{comment}}</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">确定</a>
      </div>
    </div>
  </div>
</div>
