    <table class="table table-hover" style="table-layout:fixed">
        <thead>
            <tr>
                <td><strong>序号</strong></td>
                <td><strong>标题</strong></td>
                <td><strong>内容</strong></td>
                <td><strong>更新信息</strong></td>
            </tr>
        </thead>
        <tbody>
            {% if item_list%}
            {%for  notice in item_list%}
            <tr id={{notice.id}}>
                <td>{{ notice.iid}}</td>
                <td>{{ notice.title}}</td>
                <td><span data-toggle="tooltip" data-placement="top" title="{{notice.message}}">{{ notice.message|truncatechars:20}}</span></td>
                <td>
                    <div class="btn-group">
                         <button class="btn btn-primary select_template_notice">选择</button> <button class="btn btn-success change_template_notice" data-toggle="modal" data-target="#notice_profile_info">修改</button><button class="btn btn-info delete_template_notice"  data-toggle="modal" data-target="#notice_delete_info">删除</button>
                    </div>
                </td>
            </tr>
            {%endfor%}
            {% endif %}
        </tbody>
    </table>
    <div id="notice_paginator">
        {%include "widgets/paginator.html"%} 
    </div>
