<table class="well table">
  <thead>
    <tr>
      <td><strong>用户名</strong></td>
      <td><strong>邮箱</strong></td>
      <td><strong>负责人</strong></td>
      <td><strong>学院</strong></td>
      <td><strong>用户状态</strong></td>
    </tr>
  </thead>
  <tbody>
    {%for user in item3_list %}
    <tr>
      <td>{{user.userid.username}}</td>
      <td>{{user.userid.email}}</td>
      <td>{{user.userid.first_name}}</td>
      <td>{{user.college}}</td>
      {%if user.userid.is_active %}
      <td>
        <button class="btn btn-success">已经激活</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expert-modal">
            修改信息
        </button>
      </td>
      {%else%}
      <td><button class="btn btn-warning">已发送，尚未激活</button> <button class="btn btn-danger">删除</button></td>
      {%endif%}
    </tr>
    {%endfor %}

  </tbody>
</table>
<div id="dispatch_expert_paginator" class="dispatch_paginator">
  {%include "widgets/paginator3.html"%}
</div>

<div class="modal fade" id="expert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改专家信息</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
