<table class="well table">
  <thead>
    <tr>
      <td><strong>用户名</strong></td>
      <td><strong>邮箱</strong></td>
      <td><strong>负责人</strong></td>
      <td><strong>学院</strong></td>
      <td><strong>用户状态</strong></td>
    </tr>
  </thead>
  <tbody>
    {%for user in users %}
    <tr>
      <td>{{user.userid.username}}</td>
      <td>{{user.userid.email}}</td>
      <td>{{user.userid.name}}</td>
      <td>{{user.userid.name}}</td>
      {%if user.userid.is_active %}
      <td><button class="btn btn-success">已经激活</button></td>
      {%else%}
      <td><button class="btn btn-warning">已发送，尚未激活</button></td>
      {%endif%}
    </tr>
    {%endfor %}

  </tbody>
</table>
