<table class="well table">
  <thead>
    <tr>
      <td><strong>用户名</strong></td>
      <td><strong>邮箱</strong></td>
      <td><strong>负责人</strong></td>
      <td><strong>用户状态</strong></td>
    </tr>
  </thead>
  <tbody>
    {%block users-list-items%}
    {%endblock%}
    {%for user in users %}
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.name}}</td>
      {%if user.is_active %}
      <td><button class="btn btn-success">已经激活</button></td>
      {%else%}
      <td><button class="btn btn-warning">已发送，尚未激活</button></td>
      {%endif%}
    </tr>
    {%endfor %}

  </tbody>
</table>
