.budgetform{
	padding-bottom:20px;
	padding-left:10px;
}
#budgetinfoformbutton{
	height:26px;
	padding:0px 12px;
}
.budgetform select{
	height:26px;
	width:150px;
	margin-right:20px;
}
#report_base_div .col-lg-2{
    margin-left:20px;
}

