{% extends "adminStaff/base/_content.html" %}

{%block inner_content%}


<div class="well">
    <ul class="nav nav-pills" id="myTab">

        <li class="active"><a href="#special_modify" data-toggle="tab">专题更改</a></li>
        <li><a href="#special_alloc" data-toggle="tab">专题分配</a></li>
        <li><a href="#college_modify" data-toggle="tab">学院更改</a></li>
        <li><a href="#college_alloc" data-toggle="tab">学院分配</a></li>
    </ul>
 
    <div class="tab-content">
                        
      {%for instance in instance_list %}

        <div id="{{instance.object_name}}_modify" object = "{{instance.object_name}}"

            {%ifequal forloop.counter 1%}
                class="tab-pane fade active in"     
            {%else%}
                class="tab-pane fade"
            {%endifequal%} >          
            <p> </p>
            <form class="form-inline" id="">
                <div class = "form-group">
                    <label class="control-label">{{instance.object_chinese_name}}:</label>
                </div>
                <div class = "form-group">
                    {{instance.object_form.name}}
                </div>
                <div class = "form-group">
                    <span class="btn btn-primary saveObjectName">保存{{instance.object_chinese_name}}名称</span> 
                </div>
            </form>

            <p></p>
            <div class="btn btn-primary deleteObjectName">删除所选{{instance.object_chinese_name}}</div>  
            <p></p>

            <div class="object_table_div">
                {%include "adminStaff/widgets/objects_table.html" %}
            </div>
        </div>

        <div class="tab-pane fade" id="{{instance.object_name}}_alloc"  object = "{{instance.object_name}}">
            {%include "adminStaff/widgets/object_alloc.html"%}
        </div>


      


      {%endfor%}
    </div>  



    <div class="modal fade"  id="object_modal">

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>重新分配</h3>
                <h4> </h4>
              </div>
              <div class="modal-body">
                {#{%include "adminStaff/widgets/objects_table.html" %} #}
              </div>

              <div class="modal-footer">
                <a class="btn" data-dismiss="modal">关闭</a>
                <a class="btn btn-primary" data-dismiss="modal" id="saveObjectAlloc">保存更新</a>
              </div>

            </div>
          </div>
    </div>
    




    <div class="modal fade"  role="dialog" id="alert_info_modal">

      <div class="modal-dialog">
      
        <div class="modal-content">

          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>信息提示</h3>            
          </div>

          <div class="modal-body">
          </div>

          <div class="modal-footer">
            <a class="btn" data-dismiss="modal">关闭</a>
            <a class="btn btn-primary" data-dismiss="modal" >确定</a>
          </div>

        </div>
      </div>
  </div>
































</div>




      
<!-- <script type='text/javascript' src="{{ STATIC_URL }}js/adminstaff/modify_adminStaff.js"></script> -->

<script type="text/javascript" src="{{STATIC_URL}}js/common/alloc_manage.js"></script>


<!-- ajax_csrf-->
<script type='text/javascript' src="{{STATIC_URL}}js/ajax_csrf.js"></script>










{% endblock %}
